# dependencies
client/node_modules
server/node_modules

# build folders
client/build

# dotenv files
client/.env
server/.env

# uploaded files
server/uploads/*
!server/uploads/.gitkeep

# uploaded files only - ignore user uploaded images but keep project assets
server/uploads/*.png
server/uploads/*.jpg
server/uploads/*.jpeg
server/uploads/*.gif

# misc
.DS_Store
.env
